@import "../src/css/reset.css";

.App {
  min-height: 100vh;
  --main-color: #555cbd;
  --main-grey: #808080;
  font-size: 14px;
  line-height: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--main-color);
  color: white;
  min-height: 100px;
}

.header-container,
.array-container {
  width: 1026px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
}
h1 {
  font-size: 30px;
  margin: 20px 0;
}

form {
  display: flex;
  margin-bottom: 10px;
}

input {
  width: 60%;
  margin-right: 30px;
  height: 35px;
  box-sizing: border-box;
  padding: 15px 0 15px 15px;
  font-size: 16px;
  line-height: 16px;
}
button {
  color: var(--main-color);
  text-transform: uppercase;
  height: 35px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  padding: 0 30px;
}

.row1,
li {
  display: flex;
}

span {
  display: flex;
  flex: 8;
  align-items: center;
  padding-left: 15px;
}
span.counter-column {
  flex: 1;
  color: var(--main-grey);
}

span.error {
  color: #841a12;
}

a {
  color: inherit;
}

li {
  border-bottom: solid 1px var(--main-grey);
  color: #76a4c9;
  padding: 15px 0;
}

.row1 {
  color: var(--main-grey);
  background-color: #f5f5f5;
  margin-top: 50px;
  height: 50px;
}
